.main {
    flex: 1;

    width: auto;
    min-width: 0;
    min-height: 100vh;

    padding: 30px 35px;

    background: #f7f8f9;

    color: #222;
    display: flex;
}

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 28px;
}


.sales-header h1 {
    margin: 0;

    color: #5C1D1D;

    font-size: 58px;
    font-weight: 800;

    line-height: 1;
}